<div class="container">
  <fieldset>
    <legend>Edit book</legend>
    <form ng-submit="editBook()" ng-model="item">
      Title:
      <input type="text" ng-model="item.title" class="form-control" required>
      <!-- Cover:
      <input type="file" ng-model="book.cover" class="form-control"> -->
      Price:
      <input type="number" ng-model="item.price" class="form-control" required min="0">
      Description:
      <input type="area" ng-model="item.description" class="form-control" required>
      <p></p>
      <input type="submit" class="btn btn-primary pull-right" text="Submit">
    </form>
  </fieldset>
</div>
