<div class="container table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Index</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Detail</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody ng-repeat="book in books">
      <tr>
        <td>{{ $index + 1 }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.price | currency }}</td>
        <td>
          <a class="btn btn-primary" ng-href="#/books/show/{{ book.$id }}">Show</a>
        </td>
        <td>
          <a class="btn btn-warning" ng-href="#/books/edit/{{ book.$id }}">Edit</a>
        </td>
        <td>
          <!-- <button type="button" class="btn btn-danger" confirm="Do it?">Edit</button> -->
          <a class="btn btn-danger" ng-click="removeBook('{{ book.$id }}')">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
